@import 'normalize';
@import 'banner';
@import 'about';
@import 'resume';
@import 'features';
@import 'contact';
@import 'feedback';
@import 'footer';
@import 'header';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.visible {
    display: block;
}

.active a {
  border-bottom: 3px solid #3e64ff;
  color: #3e64ff;
}