@import 'normalize';
@import 'banner';
@import 'about';
@import 'resume';
@import 'features';
@import 'contact';
@import 'feedback';
@import 'footer';
@import 'header';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.visible {
    display: block;
}

.active a {
  border-bottom: 3px solid #3e64ff;
  color: #3e64ff;
}

#resume,
#features,
#contacts {
    height: 30px;
}

#about {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
}

#typing {
  font-size: 40px;
  font-weight: 400;
}

.typed-cursor{
    opacity: 1;
    font-weight: 200;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.text-slider-items {
    display: none;
}

.text-slider {
    color: #3e64ff;
    font-weight: 700;
}